# üìä –ê–Ω–∞–ª–∏–∑ –∞–≤–∏–∞–ø–µ—Ä–µ–ª–µ—Ç–æ–≤
## –î–∞—à–±–æ—Ä–¥ –≤ Apache Superset
**–¶–µ–ª—å:** –°–æ–∑–¥–∞–Ω–∏–µ –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–π –≤–∏—Ç—Ä–∏–Ω—ã –∏ –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–≥–æ –¥–∞—à–±–æ—Ä–¥–∞ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –ø—Ä–æ–¥–∞–∂ –∞–≤–∏–∞–±–∏–ª–µ—Ç–æ–≤

In [2]:
import pandas as pd
import psycopg2
from IPython.display import Image, display
import warnings
warnings.filterwarnings('ignore')

In [3]:
def run_query(sql, database_name, password, params=None):
    """–í—ã–ø–æ–ª–Ω—è–µ—Ç SQL –∑–∞–ø—Ä–æ—Å –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç DataFrame"""
    try:
        # –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
        with psycopg2.connect(
            host='localhost',
            port=5432,
            database=database_name, 
            user='postgres',
            password=password
        ) as conn:
            return pd.read_sql_query(sql, conn, params=params)
    except Exception as e:
        print(f'‚ùå –û—à–∏–±–∫–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞: {e}')
        return None

def execute_sql(sql, database_name, password):
    """–í—ã–ø–æ–ª–Ω—è–µ—Ç SQL –∫–æ–º–∞–Ω–¥—É (CREATE, INSERT, etc.)"""
    try:
        with psycopg2.connect(
            host='localhost',
            port=5432,
            database=database_name, 
            user='postgres',
            password=password
        ) as conn:
            with conn.cursor() as cursor:
                cursor.execute(sql)
            conn.commit()
        return True
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è SQL: {e}")
        return False

# –¢–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
database_name = input('–í–≤–µ–¥–∏ –∏–º—è –ë–î: ')
password = input('–í–≤–µ–¥–∏ –ø–∞—Ä–æ–ª—å: ')
db_info = run_query('SELECT current_database(), current_user, version();', database_name, password)
print('–¢–µ–∫—É—â–µ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ:')
if db_info is not None:
    display(db_info)

# –í—Å–µ —Ç–∞–±–ª–∏—Ü—ã –≤–æ –≤—Å–µ—Ö —Å—Ö–µ–º–∞—Ö
all_tables = run_query("""
    SELECT 
        schemaname as schema,
        tablename as table,
        tableowner as owner
    FROM pg_tables 
    WHERE schemaname NOT IN ('pg_catalog', 'information_schema')
    ORDER BY schemaname, tablename;
""", database_name, password)

print('–í—Å–µ —Ç–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö:')
if all_tables is None or all_tables.empty:
    print('‚ùå –í –±–∞–∑–µ –Ω–µ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö —Ç–∞–±–ª–∏—Ü –∏–ª–∏ –ø—Ä–æ–∏–∑–æ—à–ª–∞ –æ—à–∏–±–∫–∞')
else:
    display(all_tables)

–í–≤–µ–¥–∏ –∏–º—è –ë–î:  demo
–í–≤–µ–¥–∏ –ø–∞—Ä–æ–ª—å:  123456

–¢–µ–∫—É—â–µ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ:

,current_database,current_user,version
0,demo,postgres,"PostgreSQL 18.0 on x86_64-windows, compiled by..."

–í—Å–µ —Ç–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö:

        schema             table     owner
0     bookings    aircrafts_data  postgres
1     bookings     airports_data  postgres
2     bookings   boarding_passes  postgres
3     bookings          bookings  postgres
4     bookings           flights  postgres
5     bookings             seats  postgres
6     bookings    ticket_flights  postgres
7     bookings           tickets  postgres
8   dashboards       daily_sales  postgres
9   dashboards  flight_analytics  postgres
10  dashboards    moscow_flights  postgres

In [17]:
# SQL-—Å–∫—Ä–∏–ø—Ç –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –≤–∏—Ç—Ä–∏–Ω—ã
create_sql = """
DROP TABLE IF EXISTS dashboards.flight_analytics;

CREATE TABLE dashboards.flight_analytics AS
SELECT
    -- –î–∞—Ç—ã –∏ –≤—Ä–µ–º—è
    DATE(b.book_date) AS sale_date,
    b.book_date AS sale_datetime,
    
    -- –ë–∏–ª–µ—Ç—ã –∏ —Ü–µ–Ω—ã
    tf.fare_conditions AS ticket_class,
    tf.amount AS ticket_amount,
    
    -- –†–µ–π—Å—ã –∏ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è
    f.flight_id,
    f.departure_airport,
    dep.city->>'en' AS departure_city,
    dep.airport_name->>'en' AS departure_airport_name,
    f.arrival_airport,
    arr.city->>'en' AS arrival_city,
    arr.airport_name->>'en' AS arrival_airport_name,
    f.departure_airport || ' ‚Üí ' || f.arrival_airport AS direction,
    (dep.city->>'en') || ' ‚Üí ' || (arr.city->>'en') AS direction_cities,
    f.scheduled_departure,
    f.scheduled_arrival,
    
    -- –°–∞–º–æ–ª–µ—Ç—ã
    f.aircraft_code,
    ad.model->>'en' AS aircraft_model,
    
    -- –°—Ç–∞—Ç—É—Å—ã
    f.status AS flight_status
    
FROM bookings.bookings b
    JOIN bookings.tickets t ON b.book_ref = t.book_ref
    JOIN bookings.ticket_flights tf ON t.ticket_no = tf.ticket_no 
    JOIN bookings.flights f ON tf.flight_id = f.flight_id 
    JOIN bookings.aircrafts_data ad ON f.aircraft_code = ad.aircraft_code
    JOIN bookings.airports_data dep ON f.departure_airport = dep.airport_code
    JOIN bookings.airports_data arr ON f.arrival_airport = arr.airport_code

ORDER BY sale_date;

-- –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö
SELECT COUNT(*) AS total_rows FROM dashboards.flight_analytics;
SELECT direction, direction_cities, COUNT(*) 
FROM dashboards.flight_analytics 
GROUP BY direction, direction_cities 
LIMIT 10;
"""

# –°–æ–∑–¥–∞–Ω–∏–µ –≤–∏—Ç—Ä–∏–Ω—ã
result = execute_sql(create_sql, database_name, password)
if result:
    print('‚úÖ –í–∏—Ç—Ä–∏–Ω–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ–∑–¥–∞–Ω–∞!')
    
    # –ö–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫
    count_result = run_query('SELECT COUNT(*) AS total_rows FROM dashboards.flight_analytics;', database_name, password)
    if count_result is not None:
        print(f"üìä –í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –≤ –≤–∏—Ç—Ä–∏–Ω–µ: {count_result['total_rows'].iloc[0]}")
        
    # –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –≤–∏—Ç—Ä–∏–Ω—ã
    print('\nüìã –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –≤–∏—Ç—Ä–∏–Ω—ã flight_analytics:')
    vm_structure = run_query("""
        SELECT 
            column_name,
            data_type,
            is_nullable
        FROM information_schema.columns 
        WHERE table_schema = 'dashboards' 
            AND table_name = 'flight_analytics'
        ORDER BY ordinal_position;
    """, database_name, password)
    
    if vm_structure is not None:
        display(vm_structure)
        
    # –ü—Ä–∏–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö
    print('\nüîç –ü—Ä–∏–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö –∏–∑ –≤–∏—Ç—Ä–∏–Ω—ã:')
    sample_data = run_query('SELECT * FROM dashboards.flight_analytics LIMIT 5;', database_name, password)
    if sample_data is not None:
        display(sample_data)
else:
    print('‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ –≤–∏—Ç—Ä–∏–Ω—ã')

‚úÖ –í–∏—Ç—Ä–∏–Ω–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ–∑–¥–∞–Ω–∞!
üìä –í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –≤ –≤–∏—Ç—Ä–∏–Ω–µ: 1045726

üìã –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –≤–∏—Ç—Ä–∏–Ω—ã flight_analytics:

               column_name                 data_type is_nullable
0                sale_date                      date         YES
1            sale_datetime  timestamp with time zone         YES
2             ticket_class         character varying         YES
3            ticket_amount                   numeric         YES
4                flight_id                   integer         YES
5        departure_airport                 character         YES
6           departure_city                      text         YES
7   departure_airport_name                      text         YES
8          arrival_airport                 character         YES
9             arrival_city                      text         YES
10    arrival_airport_name                      text         YES
11               direction                      text         YES
12        direction_cities                      text         YES
13     scheduled_departure  timestamp with time zone         YES
14       scheduled_arrival  timestamp with time zone         YES
15           aircraft_code                 character         YES
16          aircraft_model                      text         YES
17           flight_status         character varying         YES

üîç –ü—Ä–∏–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö –∏–∑ –≤–∏—Ç—Ä–∏–Ω—ã:

,sale_date,sale_datetime,ticket_class,ticket_amount,flight_id,departure_airport,departure_city,departure_airport_name,arrival_airport,arrival_city,arrival_airport_name,direction,direction_cities,scheduled_departure,scheduled_arrival,aircraft_code,aircraft_model,flight_status
0,2017-06-21,2017-06-21 12:48:00+00:00,Economy,11700.0,14584,PEE,Perm,Bolshoye Savino Airport,VKO,Moscow,Vnukovo International Airport,PEE ‚Üí VKO,Perm ‚Üí Moscow,2017-07-28 15:55:00+00:00,2017-07-28 17:20:00+00:00,773,Boeing 777-300,Arrived
1,2017-06-21,2017-06-21 12:48:00+00:00,Comfort,19900.0,14584,PEE,Perm,Bolshoye Savino Airport,VKO,Moscow,Vnukovo International Airport,PEE ‚Üí VKO,Perm ‚Üí Moscow,2017-07-28 15:55:00+00:00,2017-07-28 17:20:00+00:00,773,Boeing 777-300,Arrived
2,2017-06-21,2017-06-21 12:48:00+00:00,Economy,16600.0,14602,PEE,Perm,Bolshoye Savino Airport,OVB,Novosibirsk,Tolmachevo Airport,PEE ‚Üí OVB,Perm ‚Üí Novosibirsk,2017-07-16 12:05:00+00:00,2017-07-16 14:15:00+00:00,319,Airbus A319-100,Arrived
3,2017-06-21,2017-06-21 12:48:00+00:00,Economy,11700.0,3490,VKO,Moscow,Vnukovo International Airport,PEE,Perm,Bolshoye Savino Airport,VKO ‚Üí PEE,Moscow ‚Üí Perm,2017-07-16 08:00:00+00:00,2017-07-16 09:25:00+00:00,773,Boeing 777-300,Arrived
4,2017-06-21,2017-06-21 12:48:00+00:00,Business,49700.0,14602,PEE,Perm,Bolshoye Savino Airport,OVB,Novosibirsk,Tolmachevo Airport,PEE ‚Üí OVB,Perm ‚Üí Novosibirsk,2017-07-16 12:05:00+00:00,2017-07-16 14:15:00+00:00,319,Airbus A319-100,Arrived

## 1. –ì—Ä–∞—Ñ–∏–∫ –ø–æ —Å—É–º–º–∞–º –ø—Ä–æ–¥–∞–∂ –∑–∞ –∫–∞–∂–¥—ã–π –∏–∑ –¥–Ω–µ–π. –ü–æ –æ—Å–∏ —Ö - –¥–Ω–∏, –ø–æ –æ—Å–∏ y - —Å—É–º–º–∞ –ø—Ä–æ–¥–∞–∂ –∑–∞ –¥–µ–Ω—å. –î–æ–±–∞–≤–∏—Ç—å —Ñ–∏–ª—å—Ç—Ä –ø–æ –∫–ª–∞—Å—Å—É –±–∏–ª–µ—Ç–∞ (—ç–∫–æ–Ω–æ–º, –±–∏–∑–Ω–µ—Å –∏ —Ç.–¥.)

In [18]:
res = run_query("""
    SELECT sale_date, ticket_class, SUM(ticket_amount) as revenue
    FROM dashboards.flight_analytics 
    GROUP BY sale_date, ticket_class
    ORDER BY sale_date, ticket_class
""", database_name, password)

display(res)

      sale_date ticket_class      revenue
0    2017-06-21     Business      49700.0
1    2017-06-21      Comfort      19900.0
2    2017-06-21      Economy     372300.0
3    2017-06-22     Business     292100.0
4    2017-06-22      Economy     483200.0
..          ...          ...          ...
162  2017-08-14      Comfort   12615000.0
163  2017-08-14      Economy  368054700.0
164  2017-08-15     Business  108172700.0
165  2017-08-15      Comfort   11037500.0
166  2017-08-15      Economy  276433900.0

[167 rows x 3 columns]

![–î–∏–Ω–∞–º–∏–∫–∞ –≤—ã—Ä—É—á–∫–∏ –ø–æ –¥–Ω—è–º –∏ –∫–ª–∞—Å—Å–∞–º](data/task_1.png)

## 2. –ì—Ä–∞—Ñ–∏–∫, –ø–æ–∫–∞–∑—ã–≤–∞—é—â–∏–π –ø—Ä–æ—Ü–µ–Ω—Ç–Ω–æ–µ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –º–µ—Å—Ç –∫–∞–∂–¥–æ–≥–æ –∏–∑ –∫–ª–∞—Å—Å–æ–≤. –î–æ–±–∞–≤–∏—Ç—å —Ñ–∏–ª—å—Ç—Ä –ø–æ –∫–ª–∞—Å—Å—É –∏ –º–æ–¥–µ–ª–∏ —Å–∞–º–æ–ª–µ—Ç–∞.

In [19]:
res = run_query("""
    SELECT 
        ad.model->>'en' as aircraft_model,
        s.fare_conditions as ticket_class,
        COUNT(*) as seats_count,
        ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY ad.model->>'en'), 2) as percentage
    FROM bookings.seats s
    JOIN bookings.aircrafts_data ad ON s.aircraft_code = ad.aircraft_code
    GROUP BY ad.model->>'en', s.fare_conditions
    ORDER BY aircraft_model, ticket_class
""", database_name, password)

display(res)

         aircraft_model ticket_class  seats_count  percentage
0       Airbus A319-100     Business           20       17.24
1       Airbus A319-100      Economy           96       82.76
2       Airbus A320-200     Business           20       14.29
3       Airbus A320-200      Economy          120       85.71
4       Airbus A321-200     Business           28       16.47
5       Airbus A321-200      Economy          142       83.53
6        Boeing 737-300     Business           12        9.23
7        Boeing 737-300      Economy          118       90.77
8        Boeing 767-300     Business           30       13.51
9        Boeing 767-300      Economy          192       86.49
10       Boeing 777-300     Business           30        7.46
11       Boeing 777-300      Comfort           48       11.94
12       Boeing 777-300      Economy          324       80.60
13   Bombardier CRJ-200      Economy           50      100.00
14   Cessna 208 Caravan      Economy           12      100.00
15  Sukhoi Superjet-100     Business           12       12.37
16  Sukhoi Superjet-100      Economy           85       87.63

![–ü—Ä–æ—Ü–µ–Ω—Ç–Ω–æ–µ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –º–µ—Å—Ç –∫–∞–∂–¥–æ–≥–æ –∏–∑ –∫–ª–∞—Å—Å–æ–≤ —Å —Ñ–∏–ª—å—Ç—Ä–æ–º –ø–æ –∫–ª–∞—Å—Å—É –∏ –º–æ–¥–µ–ª–∏ —Å–∞–º–æ–ª–µ—Ç–∞](data/task_2.png)

## 3. –ì—Ä–∞—Ñ–∏–∫, –ø–æ–∫–∞–∑—ã–≤–∞—é—â–∏–π —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –±–∏–ª–µ—Ç–æ–≤ –ø–æ –∫–∞–∂–¥–æ–º—É –∏–∑ –¢–û–ü 5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π. –î–æ–±–∞–≤–∏—Ç—å —Ñ–∏–ª—å—Ç—Ä –ø–æ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—é.

In [21]:
res = run_query("""
    SELECT 
        arrival_airport,
        arrival_city,
        departure_airport,
        departure_city,
        ROUND(AVG(ticket_amount), 2) as avg_price,
        COUNT(*) as tickets_count
    FROM dashboards.flight_analytics 
    GROUP BY arrival_airport, arrival_city, departure_airport, departure_city
    ORDER BY avg_price DESC
    LIMIT 5;
""", database_name, password)

display(res)

,arrival_airport,arrival_city,departure_airport,departure_city,avg_price,tickets_count
0,GDX,Magadan,MRV,Mineralnye Vody,90665.70,207
1,UUS,Yuzhno-Sakhalinsk,DME,Moscow,89413.82,2170
2,MRV,Mineralnye Vody,GDX,Magadan,89401.45,207
3,UUS,Yuzhno-Sakhalinsk,SVO,Moscow,88703.86,2667
4,SVO,Moscow,UUS,Yuzhno-Sakhalinsk,88496.38,2511

![–¢–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π –ø–æ —Å—Ä–µ–¥–Ω–µ–π —Ü–µ–Ω–µ –±–∏–ª–µ—Ç–∞ —Å —Ñ–∏–ª—å—Ç—Ä–æ–º –ø–æ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—é](data/task_3.png)

## 4. –í—ã–≤–µ—Å—Ç–∏ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –±–∏–ª–µ—Ç–æ–≤ –ø–æ –∫–∞–∂–¥–æ–π –º–æ–¥–µ–ª–∏ —Å–∞–º–æ–ª–µ—Ç–∞. –î–æ–±–∞–≤–∏—Ç—å —Ñ–∏–ª—å—Ç—Ä –ø–æ –º–æ–¥–µ–ª–∏ —Å–∞–º–æ–ª–µ—Ç–∞.

In [22]:
res = run_query("""
    SELECT 
        aircraft_model,
        ROUND(AVG(ticket_amount),2) as avg_price,
        COUNT(*) as tickets_count
    FROM dashboards.flight_analytics 
    GROUP BY aircraft_model
    ORDER BY avg_price DESC

""", database_name, password)

display(res)

        aircraft_model  avg_price  tickets_count
0      Airbus A319-100   51201.69          52853
1       Boeing 767-300   35033.56         124774
2       Boeing 777-300   23765.76         144376
3       Boeing 737-300   16568.16          86102
4      Airbus A321-200   15291.51         107129
5  Sukhoi Superjet-100   13985.54         365698
6   Bombardier CRJ-200   13207.66         150122
7   Cessna 208 Caravan    6568.55          14672

![–¢–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π –ø–æ —Å—Ä–µ–¥–Ω–µ–π —Ü–µ–Ω–µ –±–∏–ª–µ—Ç–∞ —Å —Ñ–∏–ª—å—Ç—Ä–æ–º –ø–æ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—é](data/task_4.png)

## –ê–Ω–∞–ª–∏–∑ –∞–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –±–∏–ª–µ—Ç–æ–≤ –Ω–∞ Airbus A319-100

**–ù–∞–±–ª—é–¥–µ–Ω–∏–µ:** Airbus A319-100 –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Å–∞–º—É—é –≤—ã—Å–æ–∫—É—é —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –±–∏–ª–µ—Ç–∞ (51201.69 —Ä—É–±) —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –º–æ–¥–µ–ª–µ–π —Å–∞–º–æ–ª–µ—Ç–æ–≤ –ø—Ä–∏ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ–º –æ–±—ä–µ–º–µ –ø—Ä–æ–¥–∞–∂ (52853 –±–∏–ª–µ—Ç–∞).

In [9]:
a319_analysis = run_query("""
    SELECT 
        departure_airport || ' ‚Üí ' || arrival_airport as direction,
        departure_city || ' ‚Üí ' || arrival_city as direction_cities,
        route_avg_price,
        route_tickets,
        a319_tickets,
        ROUND(a319_tickets * 100.0 / route_tickets, 1) as a319_share_percent
    FROM (
        SELECT 
            departure_airport,
            arrival_airport,
            departure_city,
            arrival_city,
            ROUND(AVG(ticket_amount), 2) as route_avg_price,
            COUNT(*) as route_tickets,
            COUNT(CASE WHEN aircraft_model = 'Airbus A319-100' THEN 1 END) as a319_tickets
        FROM dashboards.flight_analytics 
        GROUP BY departure_airport, arrival_airport, departure_city, arrival_city
        HAVING AVG(ticket_amount) > 50000
    ) AS routes
    ORDER BY route_avg_price DESC;
""", database_name, password)

print('üìä A319 –ù–ê –°–ê–ú–´–• –î–û–†–û–ì–ò–• –ù–ê–ü–†–ê–í–õ–ï–ù–ò–Ø–•:')
display(a319_analysis)

üìä A319 –ù–ê –°–ê–ú–´–• –î–û–†–û–ì–ò–• –ù–ê–ü–†–ê–í–õ–ï–ù–ò–Ø–•:

,direction,direction_cities,route_avg_price,route_tickets,a319_tickets,a319_share_percent
0,MRV ‚Üí GDX,Mineralnye Vody ‚Üí Magadan,90665.70,207,0,0.0
1,DME ‚Üí UUS,Moscow ‚Üí Yuzhno-Sakhalinsk,89413.82,2170,2170,100.0
2,GDX ‚Üí MRV,Magadan ‚Üí Mineralnye Vody,89401.45,207,0,0.0
3,SVO ‚Üí UUS,Moscow ‚Üí Yuzhno-Sakhalinsk,88703.86,2667,2667,100.0
4,UUS ‚Üí SVO,Yuzhno-Sakhalinsk ‚Üí Moscow,88496.38,2511,2511,100.0
5,DME ‚Üí PKC,Moscow ‚Üí Petropavlovsk,88383.37,1479,0,0.0
6,PKC ‚Üí DME,Petropavlovsk ‚Üí Moscow,88191.43,1377,0,0.0
7,UUS ‚Üí DME,Yuzhno-Sakhalinsk ‚Üí Moscow,88105.28,2027,2027,100.0
8,SVO ‚Üí DYR,Moscow ‚Üí Anadyr,82360.73,303,303,100.0
9,VKO ‚Üí VVO,Moscow ‚Üí Vladivostok,82178.88,1899,0,0.0
10,VVO ‚Üí VKO,Vladivostok ‚Üí Moscow,81954.49,1648,0,0.0
11,KHV ‚Üí LED,Khabarovsk ‚Üí St. Petersburg,78892.37,6435,0,0.0
12,DYR ‚Üí SVO,Anadyr ‚Üí Moscow,78797.53,243,243,100.0
13,LED ‚Üí KHV,St. Petersburg ‚Üí Khabarovsk,78779.13,6331,0,0.0
14,KHV ‚Üí DME,Khabarovsk ‚Üí Moscow,78346.98,9366,0,0.0
15,DME ‚Üí KHV,Moscow ‚Üí Khabarovsk,78104.93,9647,0,0.0
16,DME ‚Üí CNN,Moscow ‚Üí Neryungri,67363.57,387,387,100.0
17,CNN ‚Üí DME,Neryungri ‚Üí Moscow,66810.44,546,546,100.0
18,YKS ‚Üí LED,Yakutsk ‚Üí St. Petersburg,66475.55,638,638,100.0
19,LED ‚Üí YKS,St. Petersburg ‚Üí Yakutsk,63957.70,636,636,100.0
20,SCW ‚Üí GDX,Syktyvkar ‚Üí Magadan,62950.24,209,0,0.0
21,SVX ‚Üí KXK,Yekaterinburg ‚Üí Komsomolsk-on-Amur,62034.42,369,0,0.0
22,KXK ‚Üí SVX,Komsomolsk-on-Amur ‚Üí Yekaterinburg,61792.46,398,0,0.0
23,GDX ‚Üí SCW,Magadan ‚Üí Syktyvkar,61196.00,200,0,0.0
24,UUD ‚Üí VKO,Ulan-ude ‚Üí Moscow,60775.96,366,366,100.0
25,IKT ‚Üí LED,Irkutsk ‚Üí St. Petersburg,59410.42,6801,0,0.0
26,LED ‚Üí IKT,St. Petersburg ‚Üí Irkutsk,59155.36,6958,0,0.0
27,VKO ‚Üí UUD,Moscow ‚Üí Ulan-ude,58173.58,371,371,100.0
28,KJA ‚Üí AER,Krasnoyarsk ‚Üí Sochi,53667.85,563,563,100.0
29,DME ‚Üí BTK,Moscow ‚Üí Bratsk,52713.59,2701,2701,100.0
30,AER ‚Üí KJA,Sochi ‚Üí Krasnoyarsk,52679.17,557,557,100.0
31,BTK ‚Üí DME,Bratsk ‚Üí Moscow,52206.05,2696,2696,100.0
32,UFA ‚Üí HTA,Ufa ‚Üí Chita,51050.56,358,358,100.0

**–í—ã–≤–æ–¥**: –í—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –±–∏–ª–µ—Ç–∞ –Ω–∞ A319-100 (51202 —Ä—É–±) –æ–±—ä—è—Å–Ω—è–µ—Ç—Å—è –Ω–µ —Å—Ç–æ–∏–º–æ—Å—Ç—å—é –ø–µ—Ä–µ–ª–µ—Ç–∞ –Ω–∞ —ç—Ç–æ–º —Å–∞–º–æ–º —Å–∞–º–æ–ª–µ—Ç–µ, –∞ –µ–≥–æ —Å—Ç–æ–ø—Ä–æ—Ü–µ–Ω—Ç–Ω—ã–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –Ω–∞ –º–Ω–æ–∂–µ—Å—Ç–≤–µ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π —Å–µ—Ç–∏, –≥–¥–µ —Å—Ä–µ–¥–Ω–∏–µ —Ü–µ–Ω—ã –±–∏–ª–µ—Ç–æ–≤ –¥–æ—Å—Ç–∏–≥–∞—é—Ç 90665.70
—Ä—É–±.